.map {
    margin-top: 60px;
    position: relative;
    &__info {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        padding: 50px 0;
        background: $main-color;
    }
    &__address {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        text-decoration: none;
        display: block;
        margin: 0 auto;
        margin-top: 36px;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__links {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        img {
            margin: 0 15px;
        }
    }
}